body {
    background-color: #ccc;
    margin: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #444;
}
h1 {
    text-align: center;
    background-color: #acafd4;
    color: #061761;
    font-size: 46px;
    margin-bottom: 0;
}
.center {
    text-align: center;
}
h2 {
    background-color: #b6b6b6;
    color: #061761;
    border-bottom: 3px solid;
    font-size: 36px;
    padding: 10px;
}
a {
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
ul {
    padding-left: 0;
}
li {
    list-style-position: inside;
}
.menu {
    list-style-type: none;
    /* background-color: red; */
    padding: 0px;
    text-align: right;
    margin: 0;
}
.menu a {
    /* display: inline-block; */
    background-color: #b4b4b4;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.menu a:hover {
    background-color: #061761;
    color: white;
}
.menu li {
    display: inline-block;
}
.subtitle {
    margin-top: 0;
    background-color: #c6c8e8;
}