* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    gap: 2em;
    flex-direction: column;
    align-items: center;
    background-color: #bbb;
}

.gallery {
    width: 60rem;
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    background-color: white;
    justify-content: space-between;
    padding: .75em;
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
}

.image {
    flex-basis: calc(25% - .5em);
    position: relative;
    overflow: hidden;
}

.image img {
    max-width: 100%;
    display: block;
}

.image a {
    text-decoration: none;
}

.image p {
    background-color: rgba(0, 0, 0, .7);
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .75em;
    padding: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: .2;
    transform: translateY(100%);
    transition: all .2s ease-in-out;
}

.image:hover p {
    transform: translateY(0);
    opacity: 1;
}

.image img {
    transform: scale(1);
    transition: transform .5s  ease-in-out;
}

.image:hover img {
    transform: scale(1.2);
}

.image::after {
    content: "";
    position: absolute;
    background-color: white;
    inset: 0;
    opacity: .5;
    pointer-events: none;
    transition: opacity .5s ease-in-out;
}

.image:hover::after {
    opacity: 0;
}