:root {
    --primary-color: rgb(59, 58, 58);
}

body {
    margin: 0;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form {
    background-color: white;
    width: 650px;
    font-family: "Roboto", sans-serif;
    border-left: 7px solid rgba(0, 0, 0, .6);
    padding: 1em;
}

.form-fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.form-title {
    font-size: 2em;
    color: var(--primary-color);
    padding-top: 1em;
    font-weight: 300;
}

.form-label {
    text-transform: uppercase;
    font-weight: 300;
    padding: .5em 0;
}

.form-input {
    border: none;
    border-bottom: 2px solid var(--primary-color);
    padding: 1em;
    font-size: 1.2em;
    outline: none;
}

.form-input:focus {
    outline: 2px solid var(--primary-color);
}

.form-div {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.form-btn1 {
    padding: .8em 1.4em;
    font-size: 1em;
    font-weight: 600;
    background-color: var(--primary-color);
    color: white;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    letter-spacing: 1px;
}

.form-btn2 {
    padding: .8em 1.4em;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--primary-color);
    
}

.form-forgetPass {
    padding: .8em 1.4em;
    text-align: right;
}